#Ignore both files and folders beginning with clang+llvm
clang+llvm-*/
clang+llvm-*

#Ignore WebAssembly artifacts
*.wasm
*.cwasm

#Ignore Build artifacts
src/glibc/build/
build/
lindfs/
scripts/object_lists_final/

#Ignore testing results
e2e_status
reports/

#Ignore python cache
__pycache__/

llvm-project/
libcxx-*/
compiler-rt-*/
llvm-wasm-build/
llvm-native-build/
