name: Release lind-wasm-dev on Docker Hub

on:
  workflow_dispatch:

permissions: {}

jobs:
  docker:
    runs-on: ubuntu-22.04
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: securesystemslab
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      # Configure Docker release tags:
      # - securesystemslab/lind-wasm-dev:sha-<short commit id>
      # - securesystemslab/lind-wasm-dev:latest
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: |
            securesystemslab/lind-wasm-dev
          tags: |
            type=sha
          flavor: |
            latest=true

      # Single-step: Build and push Dockerfile.dev
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          platforms: linux/amd64
          cache-from: type=gha
          file: Docker/Dockerfile.dev
          tags: ${{ steps.meta.outputs.tags }}
