name: Release lind-wasm-dev on Docker Hub

on:
  workflow_dispatch:

permissions: {}

jobs:
  docker:
    runs-on: ubuntu-22.04
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: securesystemslab
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      # Configure Docker release tags:
      # - securesystemslab/lind-wasm-dev:sha-<short commit id>
      # - securesystemslab/lind-wasm-dev:latest
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            securesystemslab/lind-wasm-dev
          tags: |
            type=sha
          flavor: |
            latest=true

      # Single-step: Build and push Dockerfile.dev
      - name: Build and push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          push: true
          platforms: linux/amd64
          cache-from: type=gha
          file: Docker/Dockerfile.dev
          tags: ${{ steps.meta.outputs.tags }}
