name: Test and release on Docker Hub

on:
  workflow_dispatch:

permissions: {}

jobs:
  docker:
    runs-on: ubuntu-22.04
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: securesystemslab
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      # Build 'test' stage (default) to run tests
      - name: Test
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64
          cache-from: type=gha
          file: Docker/Dockerfile.e2e

      # Configure Docker release tags:
      # - securesystemslab/lind-wasm:sha-<short commit id>
      # - securesystemslab/lind-wasm:latest
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: |
            securesystemslab/lind-wasm
          tags: |
            type=sha
          flavor: |
            latest=true

      # Build 'release' stage and push to Dockerhub
      - name: Release and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          target: release
          push: true
          platforms: linux/amd64
          cache-from: type=gha
          file: Docker/Dockerfile.e2e
          tags: ${{ steps.meta.outputs.tags }}
